// Limit the number of tasks submitted at the same time.
executor {
  queueSize = 1
}

// Resource settings for selected nf-core/rnaseq processes.
process {
  withName: /.*STAR_ALIGN.*/ {
    cpus = 24
    memory = '450 GB'
    time = '48h'
    maxForks = 1
  }

  withName: /.*SALMON_QUANT.*/ {
    cpus = 4
    memory = '96 GB'
    time = '12h'
    maxForks = 1
  }

  withName: /.*SORT.*/ {
    cpus = 4
    memory = '96 GB'
    time = '12h'
    maxForks = 1
  }

  withName: /.*BEDTOOLS_GENOMECOV.*/ {
    cpus = 2
    memory = '64 GB'
    time = '8h'
    maxForks = 1
  }

  withName: /.*BEDGRAPH_TO_BIGWIG.*/ {
    cpus = 2
    memory = '32 GB'
    time = '4h'
    maxForks = 1
  }
}
